{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<form action="#" method="post">
  <input type="date" name="inputDate" />
  <button type="submit">Submit</button>
</form>
</br>
<table class="table">
  <thead>
    <tr>
      {% for column_name in columns %}
      <th scope="col">{{ column_name }}</th>
      {% endfor %}
      <!-- <th scope="col">BCode</th>
      <th scope="col">BVal</th>
      <th scope="col">SVal</th>
      <th scope="col">Balance</th>
      <th scope="col">Ratio</th> -->
    </tr>
  </thead>
  {% for row in data %}
  <tbody>
    <tr>
      {% for cell in row %}
      <td>{{ cell }}</td>
      {% endfor %}
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
