{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<form action="#" method="post">
  <label for="inputText">Enter your text:</label>
  <input
    type="text"
    name="inputEmiten"
    id="myInput"
    placeholder="Type something..."
  />
  <input
    type="text"
    name="input_PER"
    id="myInput"
    placeholder="Type something..."
  />
  <input
    type="text"
    name="input_PBV"
    id="myInput"
    placeholder="Type something..."
  />
  <button type="submit">Submit</button>
</form>
{% endblock %}
